.aboutus{
    margin-top: 2.67rem;
}
.aboutus_title{
    font-size:1.01rem;
    margin-top: 1.55rem;
    margin-bottom: 1.55rem;
}
.aboutus_h3{
    font-size: 0.7rem;
    margin-bottom:1.55rem;
}
.aboutus_h4{
    margin-bottom:0rem;
    line-height:1.4rem;
}
.aboutus_img_ul{
    display: flex;
    font-size:0.7rem;
    color:#666;
    justify-content : space-between;
    margin-top:1.6rem;
}
.aboutus_img_li{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.aboutus_PC{
    margin-top:99px;
    display: flex;
}
.aboutus_title_PC{
    font-size:18px;
    margin-bottom:33px;
}
.aboutus_h3_PC{
    font-size:16px;
    margin-bottom:40px;
}
.aboutus_h4_PC{
    font-size:16px;
    line-height:35px;
}
.aboutus_img_ul_PC{
    display: flex;
    font-size:16px;
    color:#666;
    justify-content : space-between;
}