.pro_con_con{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size:1.28rem;
    color:#1E1E1E;
    margin:2.2rem 0 1.12rem 0;
}
.pro_con_Bor{
    width:100%;
    height:0.2rem;
    border-top:0.05rem solid #DDDDDD;
    border-bottom:0.05rem solid #DDDDDD; 
}
.pro_con_introduce{
    margin:1.3rem 0;
    font-size:0.7rem;
    color:#333333;
}
.pro_con_introduce div{
    margin-top:0.5rem;
}
.proList_PC{
    display: flex;
    margin-top:99px;
    
}
.pro_con_con_PC{
   font-size:36px;
   margin:30px 0px 40px 0;
   color:#1E1E1E;
}
.pro_con_Bor_PC{
    height:5px;
    border-top:1px solid #DDDDDD;
    border-bottom:1px solid #DDDDDD; 
}
.pro_con_introduce_PC{
    margin:30px 0;
    font-size:16px;
}
.pro_con_introduce_PC div{
    margin-top:10px;
}